body {
    padding-top: 60px;
    font-family: 'Cousine', sans-serif;
    background-color: khaki;
}

#clockLayout {
    width: 800px;
    height: 1000px;
    margin: auto;
    background-color: red;
}

#clock, #breakTimer, #sessionTimer     {
    font-size: 48px;
    color:white;
}

#breakArea {
    display: flex;
    flex-flow: row;
}

#sessionArea {
    display: flex;
    flex-flow: row;
}

#clockArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
}