body {
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: tomato;
}

#banner {
    font-size: 48px;
    color: tomato;
    font-family: 'Cinzel decorative', cursive;
}

#clockLayout {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 800px;
    height: 1000px;
    margin: auto;
    /*background-color: green;*/
}

#breakTimer, #sessionTimer     {
    font-size: 48px;
    color: tomato;
}

#clock {
    font-size: 76px;
    color: tomato;

}

.areas {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#sessionArea{
    width: 105px;
}

#breakArea {
    width: 105px;
}

#clockArea {
    height: 300px;
    justify-content: center;
}

#timersArea {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    height: 202px;
    
}

#powerButtons{
    width: 142px; 
    display : flex;
    justify-content:  space-between;
}

#breakButtons{
    width: 89px;
    display : flex;
    justify-content:  space-between;
}

#sessionButtons {
    width: 89px;
    display : flex;
    justify-content:  space-between;
}

.timeBtns {
    color:white;
    background-color: limegreen;
}